<!DOCTYPE html>
<html lang="en" data-ng-app="myApp">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Holo Theme</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet" content-type="text/css">
    <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="css/styles.css" rel="stylesheet" content-type="text/css">
</head>
<body data-ng-controller="PhoneListCtrl">
    <!-- top navbar -->
    <div id="fixed-header">
        <h3>Phone comparator</h3>
    </div>

    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                <label>Manufacturers</label><span class="badge"> {{ manufacturers.length }}</span><br />
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <div class="manufacturers_filter row">
                                <div class="col-lg-6" data-ng-repeat="manufacturer in manufacturers">
                                    <input type="checkbox" data-ng-model='search.manufacturer' data-ng-true-value="'{{manufacturer.manufacturer}}'" data-ng-false-value='' /> {{manufacturer.manufacturer}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                <label>Display</label><br />
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <div class="wrap-display">
                                <div class="resolutions_filter row">
                                    <div class="resolutions">
                                        <label>Resolution</label><br />
                                        <div class="col-lg-6" data-ng-repeat="resolution in resolutions">
                                            <input type="checkbox" data-ng-model='search.resolution' data-ng-true-value="'{{resolution.screen_resolution}}'" data-ng-false-value='' /> {{resolution.screen_resolution}}
                                        </div>
                                    </div>
                                    <div class="screens">
                                        <label>Screen Size</label><br />
                                        <div class="col-lg-6" data-ng-repeat="screen in screens">
                                            <input type="checkbox" data-ng-model='search.screen' data-ng-true-value="'{{screen.screen_size}}'" data-ng-false-value='' /> {{screen.screen_size}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sx-2 col-sm-4 col-md-3 col-lg-2" data-ng-repeat="smartphone in smartphones | filter:search.manufacturer | filter:search.resolution | filter:search.screen">
                        <div class="thumbnail">
                            <img ng-src='{{smartphone.img}}'>
                            <div class="caption">
                                <h5><u><strong>{{smartphone.manufacturer}}</strong></u> {{smartphone.name}}</h5>
                            </div>
                            <p><div class="btn btn-primary">{{smartphone.price | currency}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!--footer-->
    <footer class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="row">
                <button type="button" href="#menu-toggle" class="btn btn-default" id="menu-toggle">Show filters</button>
                <ul class="list-unstyled text-right">
                    <li class="col-sm-4 col-xs-6">
                        <a href="#">About</a>
                    </li>
                    <li class="col-sm-4 col-xs-6">
                        <a href="#">Services</a>
                    </li>
                    <li class="col-sm-4 col-xs-6">
                        <a href="#">Studies</a>
                    </li>
                </ul>
            </div><!--/row-->
        </div><!--/container-->
    </footer>

    <!-- script references -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/angular.js"></script>
    <script src="controllers/mainController.js"></script>
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
</body>
</html>