<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Holo Theme</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet" content-type="text/css">
    <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="css/styles.css" rel="stylesheet" content-type="text/css">
</head>
<body ng-controller="PhoneListCtrl">
    <!-- top navbar -->
    <div id="fixed-header">
        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Show filters</a>
    </div>


    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper" class="col-xs-0 col-sm-4 colcol-lg-2">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Filters
                    </a>
                </li>
                <li>
                    <label>Manufacturers</label>
                    <div ng-repeat="smartphone in smartphones">
                        <input type="checkbox" ng-model="smartphones.manufacturer" ng-true-value="{{manufacturer.manufacturer}}" ng-false-value=""/><br />
                        Checkbox value: {{smartphone.manufacturer}}<br />
                    </div>
                </li>
                <li>
                    <a href="#">Shortcuts</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <p>Test: {{1+1}}</p>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sx-12 col-sm-4 col-lg-2" ng-repeat="smartphone in smartphones">
                        <div class="thumbnail">
                            <img src='{{smartphone.img}}'>
                            <div class="caption">
                                <h5><u><strong>{{smartphone.manufacturer}}</strong></u> {{smartphone.name}}</h5>
                            </div>
                            <p><div class="btn btn-primary">{{smartphone.price | currency}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!--footer-->
    <footer>
        <div class="container-fluid">
            <div class="row">
                <ul class="list-unstyled text-right">
                    <li class="col-sm-4 col-xs-6">
                        <a href="#">About</a>
                    </li>
                    <li class="col-sm-4 col-xs-6">
                        <a href="#">Services</a>
                    </li>
                    <li class="col-sm-4 col-xs-6">
                        <a href="#">Studies</a>
                    </li>
                    <li class="col-sm-4 col-xs-6">
                        <a href="#">References</a>
                    </li>
                    <li class="col-sm-4 col-xs-6">
                        <a href="#">Login</a>
                    </li>
                    <li class="col-sm-4 col-xs-6">
                        <a href="#">Press</a>
                    </li>
                    <li class="col-sm-4 col-xs-6">
                        <a href="#">Contact</a>
                    </li>
                    <li class="col-sm-4 col-xs-6">
                        <a href="#">Impressum</a>
                    </li>
                </ul>
            </div><!--/row-->
        </div><!--/container-->
    </footer>

    <!-- script references -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/angular.js"></script>
    <script src="controllers/mainController.js"></script>
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
</body>
</html>